<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longjunwang.wchatcommon.mapper.UserInfoMapper">

    <resultMap id="userInfo" type="com.longjunwang.wchatcommon.entity.UserInfo">
        <id property="id" column="id" />
        <result property="userName" column="user_name" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="phone" column="phone" />
        <result property="email" column="email" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>
    <insert id="insert" parameterType="com.longjunwang.wchatcommon.entity.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="avatarUrl != null">
                avatar_url,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="passWord != null">
                password,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userName != null">
                #{userName},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="email != null">
                #{email},
            </if>
            <if test="passWord != null">
                #{passWord}
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
        </trim>
    </insert>
    <update id="updateBySelective">
        update user_info set
        <if test="userName != null">
            user_name = #{userName},
        </if>
        <if test="avatarUrl != null">
            avatar_url = #{avatarUrl},
        </if>
        <if test="phone != null">
            phone = #{phone},
        </if>
        <if test="email != null">
            email = #{email},
        </if>
        <if test="passWord != null">
            password = #{passWord},
        </if>
            update_time = now()
        where id = #{id}
    </update>

    <select id="selectByKey" parameterType="string" resultMap="userInfo">
        select * from user_info where (email = #{key} or phone =#{key})
    </select>
    <select id="selectAll" resultMap="userInfo">
        select * from user_info;
    </select>
</mapper>